body {
  font-family: 'Roboto', sans-serif;
}

#image, #layer {
  position: absolute;
  border: 1px solid #000000;
  top: 50px;
  left: 50px;
  cursor: none;
}

#image {
  background-image: url("../images/bgDessin.png");
  background-size: 50px 50px;
}

#tools {
  position: absolute;
  width: 80px;
  top: 50px;
  left: 550px;
  text-align: center;
}

#tools ul {
  list-style: none;
  padding: 0;
}

#tools li {
  margin-bottom: 10px;
}

#tools input[type="radio"], #tools input[type="button"] {
  display: none;
}

#tools label img {
  width: 48px;
}

.border label img {
  border: 1px solid #000000;
  box-shadow: 0px 2px 2px #000000;
}

#tools input:checked + label img {
  box-shadow: 0px 0px 5px 2px #0067c7;
}

#tools input[type="range"] {
  width: 48px;
  margin: 0;
}

#text {
  position: absolute;
  width: 500px;
  top: 600px;
  left: 50px;
}

#text div {
  display: inline-block;
}
