/* Timothée GUY - 2018 */

/*--RESET CSS-------------------------------------------------------------------
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--CHAT----------------------------------------------------------------------*/
body {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 14pt;
	margin: 10px auto;
}

h3 {
	font-weight: bold;
	font-size: 12pt;
}

#newUser {
	margin: 10vh auto;
	height: 25vh;
	width: 30vw;
	text-align: center;
	background-color: #e2e2e2;
	border: 2px solid #000000;
	border-radius: 10px;
}

#newUser input[type="text"] {
	display: block;
	margin: 2vh auto 0 auto;
}

#newUser input[type="button"] {
	display: inline-block;
	margin: 2vh auto 0 auto;
}

#error {
	margin: 2vh auto 0 auto;
	color: #e30000;
	font-weight: bold;
}

#chat {
	display: none;
	margin: 10vh auto;
	background-color: #e2e2e2;
	border: 2px solid #000000;
	height: 50vh;
	width: 50vw;
	border-radius: 10px;
	text-align: center;
}

#msgArea {
	display: inline-block;
	text-align: left;
	width: 70%;
	height: 75%;
	background-color: #ececec;
	overflow: auto;
	border-radius: 5px;
}

#usrArea {
	display: inline-block;
	text-align: right;
	width: 20%;
	height: 75%;
	background-color: #ececec;
	overflow: auto;
	border-radius: 5px;
}

#message {
	width: 50%;
}

#inputs {
	display: inline-block;
	text-align: left;
	margin-top: 10px;
	height: 10%;
	width: 90%;
}

#msgArea > div, #usrArea > div {
	margin: 5px;
}

.sys {
	color: #ff0000;
}

.self {
	color: #359601;
}

.emoji {
	display: inline-block;
	margin-bottom: -5px;
	width: 25px;
	height: 25px;
	overflow: hidden;
}

.emoji img {
	width: 75px;
	height: 75px;
}

.sleepy img {
	margin-left: -25px;
}

.love img {
	margin-left: -50px;
}

.lookup img {
	margin-top: -25px;
}

.angry img {
	margin: -25px 0 0 -25px;
}

.sad img {
	margin: -25px 0 0 -50px;
}

.smile img {
	margin-top: -50px;
}

.grin img {
	margin: -50px 0 0 -25px;
}

.sick img {
	margin: -50px 0 0 -50px;
}



/*--CSS FOR DISPLAYING THE GAME-----------------------------------------------*/
#main{
	display: none;
}
