/*--RESET CSS-------------------------------------------------------------------
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8FF;
}

h1 {
  position: relative;
  font-size: 20pt;
  font-weight: bold;
}

#red_deck li, #blue_deck li {
	position: relative;
	z-index: 10;
}

#main {
  position: relative;
  margin-top: 2%;
  left: 15%;
  width: 80%;
  height: 100%;
}

#board_container {
  width: 75vh;
  height: 75vh;
  position: relative;
  float: left;
  margin: auto;
}

#board {
	position: relative;
	height: 100%;
	width: 100%;
}

#board td {
  height: calc(100% / 9);
  background-color: #e6e6e6;
  border: 1px solid;
}

#board .redBase {
	background-color: #ff9d9d;
}

#board .blueBase {
	background-color: #9da7ff;
}

#board .flagBase {
	background-color: #9dffa4;
}

#blueRobot, #redRobot, .blueFlag, .redFlag {
	position: absolute;
	height: calc(75vh / 9);
	width: calc(75vh / 9);
	background-size: calc(75vh / 11) auto;
	background-repeat: no-repeat;
	background-position: center;
}

#blueRobot {
	background-image: url('../images/robot-corps-bleu.png');
}

#redRobot {
	background-image: url('../images/robot-corps-rouge.png');
}

.blueFlag {
	background-image: url('../images/flag-blue.png');
}

.redFlag {
	background-image: url('../images/flag-red.png');
}

#red_deck, #blue_deck {
	text-align: center;
  margin-top: 2%;
  border-radius: 10px;
  float: left;
  width: 10%;
}

#red_deck {
	border: 2px solid #a33614;
  background-color: #db6641;
  margin-right: 2vh;
}

#blue_deck {
	border: 2px solid #1449a3;
  background-color: #418cdb;
  margin-left: 2vh;
}

.text_card {
	position: absolute;
	z-index: 3;
	top: 38%;
	font-size: 2vw;
	left: 3.5vw;
	color: #F8F8FF;
	opacity: 0.9;
}


.red_card, .blue_card {
  height: 100%;
  width: 45%;
  margin-top: 15%;
  margin-bottom: 5%;
	z-index: 2;
}

#title {
	width: 40%;
	height: 5vw;
	margin-left: 13%;
	vertical-align: middle;
	margin-bottom: 1%;
	border: 2px solid #4a4a4a;
	border-radius: 10px;
	background-image: linear-gradient(to right, #db6641, #418cdb);
}

#title > h1 {
	text-align: center;
	line-height: 5vw;
	color: white;
	font-size: 1.5vw;
}

#deck {
	position: absolute;
	z-index: 10;
	background-color: grey;
	width: 50vw;
	height: 50vw;
	left: 10%;
	top:25%;
	display: none;
}

@media (min-width: 0px) and (max-width: 1024px) {
	#board_container {
	  width: 45vw;
	  height: 45vw;
	}

	#blueRobot, #redRobot, .blueFlag, .redFlag {
		position: absolute;
		height: calc(45vw / 9);
		width: calc(45vw / 9);
		background-size: calc(45vw / 11) auto;
	}

	#title {
		margin-left: 20%;
	}
}
