/*--RESET CSS-------------------------------------------------------------------
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------------------------*/


body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: relative;
  font-size: 20pt;
  font-weight: bold;
}

#main{
  position: relative;
  margin-top: 5%;
  left: 15%;
  width: 80%;
}

#board_container{
  position: relative;
  left: 5%;
}

#board{
  border-collapse: : collapse;
}

#board td{
  height: 9vh;
  width: 9vh;
  border: 1px solid;
}

#blueRobot, #redRobot, .blueFlag, .redFlag {
	position: absolute;
	height: 9vh;
	width: 9vh;
	background-size: 9vh auto;
	background-repeat: no-repeat;
	background-position: center;
}

#blueRobot {
	background-image: url('../images/robot-corps-bleu.png');
}

#redRobot {
	background-image: url('../images/robot-corps-rouge.png');
}

.blueFlag {
	background-image: url('../images/flag-blue.png');
}

.redFlag {
	background-image: url('../images/flag-red.png');
}


/* Taille d'écran de 0 à 992px */
@media (min-width: 0px) and (max-width: 414px) {
  #main{
    left: 0%;
  }

  #board_container{
    left: 0%;
  }

  #board td{
    height: 4.5vh;
  }
}
