/*---RESET CSS------------------------------------------------------------------
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---GENERAL------------------------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8FF;
}

h1 {
  position: relative;
  font-size: 20pt;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

/*---TITLE--------------------------------------------------------------------*/
#title {
	width: 40%;
	height: 5vw;
	margin: 1% auto 2% auto;
	border: 2px solid #6c6c6c;
	border-radius: 10px;
	background-image:linear-gradient(to right,#db6641, #418cdb);
}

#title > h1{
	text-align: center;
	line-height: 5vw;
	color: #FFFFFF;
	font-size: 2vw;
}

/*---BOARD--------------------------------------------------------------------*/

#board td {
  height: calc(100% / 9);
  background-color: #e6e6e6;
  border: 1px solid;
}

#board .redBase {
	background-color: #ff9d9d;
}

#board .blueBase {
	background-color: #9da7ff;
}

#board .flagBase {
	background-color: #9dffa4;
}

#middle {
	text-align: center;
}

#board_container {
	position: relative;
	display: inline-block;
  width: 75vh;
  height: 75vh;
}

#board {
	position: relative;
	height: 100%;
	width: 100%;
}

/*---DECKS--------------------------------------------------------------------*/

#red_deck li, #blue_deck li {
	position: relative;
}

.show_deck {
	margin: 1vw;
	width: 17%;
}

.text_card {
	position: absolute;
	top: 40%;
	font-size: 2vw;
	left: 3.5vw;
	color: #F8F8FF;
}

.red_card, .blue_card {
  height: 100%;
  width: 45%;
  margin: 15% auto 5% auto;
}

#red_deck, #blue_deck {
	position: relative;
	display: inline-block;
	vertical-align: top;
  border-radius: 10px;
  width: 8%;
	margin-top: 1.5vw;
}

#red_deck {
	border: 2px solid #a33614;
  background-color: #db6641;
}

#blue_deck {
	border: 2px solid #1449a3;
  background-color: #418cdb;
}

#deck, #logo {
	position: absolute;
	width: 34vw;
	height: 34vw;
	left: calc(50vw - 17vw);
	margin-top: 1%;
	display: none;
}

#deck{
	z-index: 9;
}

/*---LOGO--------------------------------------------------------------------*/
.list_logo{
	width: 45%;
}

#logo{
	top: 11vw;
	z-index: 10;
}

#selection{
	display: grid;
	margin-top: 1vw;
	height: 75%;
	overflow:scroll;
	overflow-x:hidden;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 3vw;
	font-size: 1.2vw;
	align-items: center;
}

#deck h3, #logo h3 {
	text-align: center;
	color: #FFFFFF;
	margin: 3%;
}

#red_logo, #blue_logo{
	height: 4.4vw;
	background-size: 100%;
	background-repeat: no-repeat;
}

#red_logo{
	background-image: url("../images/block-vide-rouge.png");
}

#blue_logo{
	background-image: url("../images/block-vide-bleu.png");
}


/*----CROSS-------------------------------------------------------------------*/
.cross {
	position:absolute;
	right: 1%;
	top: 1%;
	color: white;
	font-size: 20pt;
}


/*----POINTER------------------------------------------------------------------*/
.text_card:hover, .cross:hover, .red_card:hover, .blue_card:hover, #launcher > h1:hover{
	cursor:pointer;
}


/*----LAUNCHER----------------------------------------------------------------*/
#launcher{
	width: 20%;
	height: 2vw;
	margin: 0.5% auto 0% auto;
	border: 2px solid #6c6c6c;
	border-radius: 10px;
	background-image:linear-gradient(to right,#db6641, #418cdb);
}

#launcher > h1{
	text-align: center;
	line-height: 2vw;
	color: #FFFFFF;
	font-size: 1.5vw;
}

/*----------------------------------------------------------------------------*/
#blueRobot, #redRobot, .blueFlag, .redFlag {
	position: absolute;
	height: calc(75vh / 9);
	width: calc(75vh / 9);

}

.blueFlag, .redFlag {
	background-size: calc(75vh / 11) auto;
	background-repeat: no-repeat;
	background-position: center;
}

#redRobotBody, #blueRobotBody {
	position: absolute;
	z-index: 2;
	width: inherit;
	height: inherit;
	background-size: calc(75vh / 11) auto;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 1s ease-in-out;
}

#redRobotBody {
	background-image: url('../images/robot-corps-rouge.png');
}

#blueRobotBody {
	background-image: url('../images/robot-corps-bleu.png');
	transform: rotate(180deg);
}

#blueRobotTracks, #redRobotTracks {
	position: absolute;
	z-index: 1;
	width: inherit;
	height: inherit;
	background-image: url('../images/robot-chenilles.png');
	background-size: calc(75vh / 12) calc(75vh / 12);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 1s ease-in-out;
}

.north {
	animation-duration: 1s;
	animation-name: anim_north;
}

.east {
	animation-duration: 1s;
	animation-name: anim_east;
}

.south {
	animation-duration: 1s;
	animation-name: anim_south;
}

.west {
	animation-duration: 1s;
	animation-name: anim_west;
}

.idle {
	animation-duration: 1s;
	animation-name: anim_idle;
}

@keyframes anim_north {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(0, calc(-75vh / 9));
	}
}

@keyframes anim_east {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(calc(75vh / 9), 0);
	}
}

@keyframes anim_south {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(0, calc(75vh / 9));
	}
}

@keyframes anim_west {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(calc(-75vh / 9), 0);
	}
}

@keyframes anim_idle {
	0% {
		filter: brightness(100%);
	}
	50% {
		filter: brightness(120%);
	}
	100% {
		filter: brightness(100%);
	}
}

.blueFlag {
	background-image: url('../images/flag-blue.png');
}

.redFlag {
	background-image: url('../images/flag-red.png');
}

/*----------------------------------------------------------------------------*/
@media (min-width: 0px) and (max-width: 1024px) {
	#blueRobot, #redRobot, .blueFlag, .redFlag {
		position: absolute;
		height: calc(45vw / 9);
		width: calc(45vw / 9);
	}

	.blueFlag, .redFlag {
		background-size: calc(45vw / 11) auto;
	}

	#redRobotBody {
		background-size: calc(45vw / 11) auto;
	}

	#blueRobotBody {
		background-size: calc(45vw / 11) auto;
	}

	#blueRobotTracks, #redRobotTracks {
		background-size: calc(45vw / 12) calc(45vw / 12);
	}

	@keyframes anim_north {
	  0% {
	    transform: translate(0,0);
	  }
	  100% {
	    transform: translate(0, calc(-45vw / 9));
	  }
	}

	@keyframes anim_east {
	  0% {
	    transform: translate(0,0);
	  }
	  100% {
	    transform: translate(calc(45vw / 9), 0);
	  }
	}

	@keyframes anim_south {
		0% {
			transform: translate(0,0);
		}
		100% {
			transform: translate(0, calc(45vw / 9));
		}
	}

	@keyframes anim_west {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(calc(-45vw / 9), 0);
    }
	}

	/*--------------------------------------------------------------------------*/
	#board_container{
		width: 45vw;
		height: 45vw;
	}

	#deck h3, .cross , #logo h3{
		font-size: 2vw;
	}
}
