/* Timothée GUY - 2018 */

/*--RESET CSS-------------------------------------------------------------------
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: absolute;
  font-size: 20pt;
  font-weight: bold;
  left: 50px;
  top: 10px;
}

#image, #layer {
  position: absolute;
  border: 1px solid #000000;
  top: 50px;
  left: 50px;
  cursor: none;
}

#image {
  background-image: url("../images/bgDessin.png");
  background-size: 50px 50px;
}

#tools {
  position: absolute;
  width: 80px;
  top: 60px;
  left: 550px;
  text-align: center;
}

#tools ul {
  list-style: none;
  padding: 0;
}

#tools li {
  margin-bottom: 10px;
}

#tools input[type="radio"], #tools input[type="button"] {
  display: none;
}

#tools label img {
  width: 48px;
}

.border label img {
  border: 1px solid #000000;
  box-shadow: 0px 2px 2px #000000;
}

#tools input:checked + label img {
  box-shadow: 0px 0px 5px 2px #0067c7;
}

#tools input[type="range"] {
  width: 48px;
  margin: 0;
}

#text {
  position: absolute;
  width: 500px;
  top: 600px;
  left: 50px;
}

#text div {
  display: inline-block;
}

#savedImg {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50px;
  left: -450px;
  background-color: #969696;
  border: 3px solid #000000;
  border-radius: 5px;
  display: none;
}

#savedImg p {
  font-weight: bold;
  font-size: 18pt;
  margin: 10px 0 10px 0;
}

#savedImg label {
  position: absolute;
  font-weight: bolder;
  zoom: 120%;
  right: 1pt;
  top: calc(10px - 9pt);
}

#ul_img {
  text-align: right;
  width: 300px;
  height: 300px;
  overflow: auto;
}

#ul_img li {
  margin: 10px 0 10px 0;
}

#ul_img li img {
  vertical-align: middle;
}

#ul_img li img:first-child {
  border: 1px solid #000000;
  width: 75px;
  height: 75px;
  margin: 0 10px 0 10px;
}

#ul_img li img:nth-child(2) {
  height: 32px;
  width: 32px;
}
